@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #efedd6;
}
.container{
    width: 100vw;
    text-align: center;
}
p{
    font-size: 3em;
    padding: 30px;
}
.content{
    margin: 20px auto;
    width: 400px;
    height: 200px;
    font-size: 2em;
    background-color: #4682b4;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#efedd6 ;
    box-shadow: 2px 2px 8px 0px #7f7f7f;
    border-radius:10px ;
    transform: translateX(400%);
    transition: 0.4s ease ;
}

.content:nth-of-type(odd){
    transform: translateX(-400%);
}

.content.show{
    transform: translateX(0);
}


